.contact-us-section {
	text-align: center;
	background-color: $color-grey;

	.world-map {

		img {
			width: 100%;
			height: auto;
		}

		.map-mobile {
			@include tablet {
				display: none;
			}

		}

		.map-tablet {
			@include mobile {
				display: none;
			}

			@include tablet {
				display: inline-block;
			}

			@include desktop {
				display: none;
			}

		}

		.map-desktop {
			@include mobile {
				display: none;
			}

			@include tablet {
				display: none;
			}

			@include desktop {
				display: inline-block;
			}
		}

	}
}