.evolve-brands-container {
	text-align: center;

	.homepage-main-image {
		width: 100%;
	}

	.brands-container {

		.brand {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			max-width: calc(100% - 50px);
			margin: 0 auto 40px;

			@include tablet {
				flex-wrap: nowrap;
				margin-bottom: 100px;
			}

			.brand-logo {
				display: inline-block;
				width: 300px;

				@include tablet {
					border-right: 1px solid $color-dark-grey;
					max-width: 400px;
					padding-right: 60px;
					text-align: right;
					width: 30%;
				}

				img {
					height: 50px;
					max-width: 80%;
					margin-bottom: 30px;

			  		@include tablet {
						height: 90px;
						max-width: 90%;
						margin-bottom: 0;
					}
				}
			}

			.brand-description {
				max-width: 930px;
				text-align: left;

				@include tablet {
					font-size: 24px;
					line-height: 40px;
					padding-left: 60px;
					width: 50%;
				}
			}

			&:not(:nth-last-of-type(2)) {
				&:after {
					background: $color-dark-grey;
					content: "";
					display: block;
					height: 1px;
					margin: 60px auto 0;
					width: 60%;

					@include tablet {
						display: none;
					}
				}
			}
		}
	}
}

.privacy-policy-container,
.terms-of-service-container {
	padding: 30px 5% 0;

	section {
		padding: 0;
	}

	@include tablet {
		padding: 80px 5% 0;
	}

	.cta-btn {
		text-align: center;
		width: 100%;
	}
}

.not-found-container {
	padding: 80px 0;
	text-align: center;

	@include tablet {
		padding: 80px;
	}

	img {
		@include mobile {
			width: 100%;	
		}

		@include tablet {
			width: auto;
		}
		
	}


}