.our-history-section {
	background: linear-gradient(135deg, $color-submain 0%, #00538f 50%);
	text-align: center;
	padding: 0;

	@include desktop {
		background: transparent;
	}

	position: relative;

	.our-history-mobile-container {
		text-align: center;
		width: 100%;

		@include desktop {
			display: none;
		}
	}

	#animation_container {
		display: none;

		@include desktop {
			background-color:rgba(255, 255, 255, 1.00);
			display: inline-block;
			position: relative !important;
			//width: 100%;	
		}

		

		canvas#canvas {
			//width: 100%;
			//height: auto;
			//position: absolute;
			//display: block;
			//background-color:rgba(255, 255, 255, 1.00);
		}

		#dom_overlay_container {
			//width: 100%;
			//pointer-events:none; 
			//overflow:hidden; 
			//position: absolute; 
			//left: 0px; 
			//top: 0px; 
			//display: block;
		}
	}

}