<section id="contact-us" class="get-in-touch-section">

	<h2 class="headline contact">Contact Us</h2>

	<h2 class="headline get-in-touch">Get in touch!</h2>

	<div class="info-container">
		<div class="info">
			<h3 class="title">Advertising</h3>
			<p class="description">Client services and brand partnership opportunities</p>
			<div class="cta-btn">
				<a class="button" href="mailto:josh.zemel@evolvemediallc.com">Reach out</a>
			</div>
		</div>

		<div class="info">
			<h3 class="title">Tech Support</h3>
			<p class="description">Technical issues and website assistance</p>
			<div class="cta-btn">
				<a class="button" href="mailto: sites@evolvemediallc.com">Your Ticket</a>
			</div>
		</div>

		<div class="info">
			<h3 class="title">Content</h3>
			<p class="description">Press, media, or content licensing inquiries</p>
			<div class="cta-btn">
				<a class="button" href="mailto:content@evolvemediallc.com">Learn More</a>
			</div>
		</div>
		
		<div class="info">
			<h3 class="title">Legal</h3>
			<p class="description">Legal questions or inquires</p>
			<div class="cta-btn">
				<a class="button" href="mailto: legal@evolvemediallc.com">Submit</a>
			</div>
		</div>
	</div>
			
</section>